/* .head{
    background-color: rgb(39,156,228);
    padding: 15px;
    
    color: white;
    }
    .head h1{
        margin-right: 640px;
    }
    #header{
        background-color: rgb(43, 204, 43);
        color: white;
    } */